//Light

@font-face {
	font-family: 'Open Sans Light';
	src: url('../Fonts/OpenSans-Light.eot');
	src: url('../Fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
	url('../Fonts/OpenSans-Light.woff') format('woff'),
	url('../Fonts/OpenSans-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	}

//Regular

@font-face {
	font-family: 'Open Sans Regular';
	src: url('../Fonts/OpenSans-Regular.eot');
	src: url('../Fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
	url('../Fonts/OpenSans-Regular.woff') format('woff'),
	url('../Fonts/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	}

//Bold

@font-face {
	font-family: 'Open Sans Bold';
	src: url('../Fonts/OpenSans-Bold.eot');
	src: url('../Fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
	url('../Fonts/OpenSans-Bold.woff') format('woff'),
	url('../Fonts/OpenSans-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	}
